# Divident Calculation

In [6]:
import requests as rq
data = rq.get('https://www.moneycontrol.com/company-facts/infosys/dividends/IT#IT')
data

In [169]:
import matplotlib.pyplot as plt
from selenium import webdriver
d = r'C:\Users\ASUS\Downloads\chromedriver'
driver = webdriver.Chrome(executable_path = d)
driver

In [196]:
d = 'https://www.moneycontrol.com/company-facts/infosys/dividends/IT#IT'
d = 'https://www.moneycontrol.com/company-facts/infosys/bonus/IT#IT'
# d = 'https://www.moneycontrol.com/company-facts/NIFTY%20BANK/dividends/TCS#TCS'
# d = 'https://www.moneycontrol.com/company-facts/tataconsultancyservices/bonus/TCS'
driver.get(d)

In [195]:
find = driver.find_elements_by_tag_name('tr')
j = []
for i in find[2:]:
    if len(i.text.split(' ')) > 2 and float(i.text.split(' ')[0][-4:]) >= 2006 :
#         print(float(i.text.split(' ')[0][-4:]) >= 2006)
        j.append([float(i.text.split(' ')[0][-4:]),i.text.split(' ')[3]])

In [197]:
bonus = driver.find_elements_by_tag_name('tr')
l = []
for i in bonus[2:] :
    print(i.text)
    if float(i.text.split(' ')[0][-4:]) >= 2006:
        print(i.text.split(' ')[1] )
        l.append([float(i.text.split(' ')[0][-4:]),i.text.split(' ')[1] ])

13-07-2018 1:1 05-09-2018 04-09-2018
1:1
24-04-2015 1:1 30-11--0001 15-06-2015
1:1
10-10-2014 1:1 03-12-2014 02-12-2014
1:1
14-04-2006 1:1 14-07-2006 13-07-2006
1:1
13-04-2004 3:1 02-07-2004 01-07-2004
25-01-1999 1:1 05-03-1999 08-02-1999
18-06-1997 1:1 12-09-1997 19-08-1997
30-06-1994 1:1 15-09-1994 19-08-1994

In [200]:
l

[[2018.0, '1:1'], [2015.0, '1:1'], [2014.0, '1:1'], [2006.0, '1:1']]

In [199]:
j

[[2020.0, '240.00'],
 [2020.0, '190.00'],
 [2019.0, '160.00'],
 [2019.0, '210.00'],
 [2019.0, '80.00'],
 [2018.0, '140.00'],
 [2018.0, '410.00'],
 [2018.0, '200.00'],
 [2017.0, '260.00'],
 [2017.0, '295.00'],
 [2016.0, '220.00'],
 [2016.0, '285.00'],
 [2015.0, '200.00'],
 [2015.0, '590.00'],
 [2014.0, '600.00'],
 [2014.0, '860.00'],
 [2013.0, '400.00'],
 [2013.0, '540.00'],
 [2012.0, '300.00'],
 [2012.0, '640.00'],
 [2011.0, '300.00'],
 [2011.0, '400.00'],
 [2010.0, '800.00'],
 [2010.0, '300.00'],
 [2009.0, '200.00'],
 [2009.0, '270.00'],
 [2008.0, '200.00'],
 [2008.0, '545.00'],
 [2007.0, '120.00'],
 [2007.0, '130.00'],
 [2006.0, '100.00'],
 [2006.0, '770.00']]

In [201]:
def share(n , l):
    num_share = {}
    share_dict = {}
    for i in l:
        share_dict[i[0]] = (float(i[1][0]) + float(i[1][2])) / float(i[1][2])
        share_dict
    
    for i in range(2020 , 2000 , -1):
        if i in share_dict:
            n = n/share_dict[i]
        num_share[i] = n
    return num_share
shares_num = share(400 , l)

In [203]:
shares_num
tot = 0
fv = 5
for i in j:
    temp = shares_num[i[0]] *fv* float(i[1]) /100 
    tot+= temp
    print(i[0],shares_num[i[0]] ,float(i[1])*fv /100, temp)
tot

2020.0 400 12.0 4800.0
2020.0 400 9.5 3800.0
2019.0 400 8.0 3200.0
2019.0 400 10.5 4200.0
2019.0 400 4.0 1600.0
2018.0 200.0 7.0 1400.0
2018.0 200.0 20.5 4100.0
2018.0 200.0 10.0 2000.0
2017.0 200.0 13.0 2600.0
2017.0 200.0 14.75 2950.0
2016.0 200.0 11.0 2200.0
2016.0 200.0 14.25 2850.0
2015.0 100.0 10.0 1000.0
2015.0 100.0 29.5 2950.0
2014.0 50.0 30.0 1500.0
2014.0 50.0 43.0 2150.0
2013.0 50.0 20.0 1000.0
2013.0 50.0 27.0 1350.0
2012.0 50.0 15.0 750.0
2012.0 50.0 32.0 1600.0
2011.0 50.0 15.0 750.0
2011.0 50.0 20.0 1000.0
2010.0 50.0 40.0 2000.0
2010.0 50.0 15.0 750.0
2009.0 50.0 10.0 500.0
2009.0 50.0 13.5 675.0
2008.0 50.0 10.0 500.0
2008.0 50.0 27.25 1362.5
2007.0 50.0 6.0 300.0
2007.0 50.0 6.5 325.0
2006.0 25.0 5.0 125.0
2006.0 25.0 38.5 962.5

57250.0

In [ ]:
tcs = 23235
infy = 57250